html, .main-menu, .root, .home-page {
    height: 100%;
}

.ac-game-settings {
    width: 100%;
    height:100%;
    background-image: url("/static/image/menu/overwatch-background.jpg");
    background-size: 100% 100%;
    user-select:none;
}

.ac-game-settings-login {
    height: 55vh;
    width: 20vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.ac-game-settings-title {
    color: white;
    font-size: 3vh;
    text-align: center;
    height: 7vh;
    padding-top: 2vh;
    margin-bottom: 2vh;
}
.ac-game-settings-username {
    display: block;
    height: 7vh;
}

.ac-game-settings-password {
    display: block;
    height: 7vh;
}

.ac-game-settings-submit {
    dispaly: block;
    height: 7vh;

}

.ac-game-settings-acwing {
    display: block;
    height: 7vh;
}

.ac-game-settings-item {
    width: 100%;
    height: 100%;
}

.ac-game-settings-item > input {
    widthL: 90%;
    line-height:3vh;
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ac-game-settings-item > button {
    color: white;
    width: 90%;
    line-height:3vh;
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    border-radius: 10px;
}

.ac-game-settings-error-message {
    color: red;
    font-size: 2vh;
    display: inline;
    float: left;
    padding-left: 1vw;
}

.ac-game-settings-option {
    color: white;
    font-size: 2.5vh;
    display: inline;
    float: right;
    padding-right: 1vw;
    cursor: pointer;
}

.ac-game-settings-acwing > img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.ac-game-settings-acwing > div {
    color: white;
    font-size: 1.5vh;
    text-align: center;
    display: block;
    position: relative;
    top: 25%;

}

.ac-game-settings-register {
    height: 55vh;
    width: 20vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.main-menu {
    height: 100%;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #3F51B5;
    background-position: center;
    background-size: cover;
    background-image: url("/static/image/menu/background.png");
    user-select: none;
}

.root {
    display: flex;
    flex-direction: column;
    position: relative;
}

.home-page {
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    width: 400px;
    box-shadow: inset 100px 0 107px -63px black;
}
.logo {
    display: flex;
    padding: 30px;
}

.logo img {
    width: 70%
}

.ac-game-menu {
    display: flex;
    flex-direction: column;
}
.ac-game-menu-field {
    display: flex;
    flex-direction: column;
}

.ac-game-menu-field-small {
    display: flex;
    flex-direction: column;
}

.ac-game-menu a {
    padding: 5px 30px;
    color: white;
    text-decoration: none;
    transition: padding .3s;
    color: white;
    text-transform: uppercase;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.ac-game-menu-field a {
    font-style: italic;
    font-size: 48px;
    position: relative;
    cursor: pointer;
}

.ac-game-menu-field a span {
    position: relative;
    z-index: 1;
}

.ac-game-menu-field a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 20%;
    border-radius: 0 100% 100% 0;
    background-color: #B0BEC5;
    left: -30%;
    top: 40%;
    z-index: 0;
    opacity: 0;
    box-shadow: 1px 0 8px 7px #B0BEC5;
    transition: opacity .3s, left .3s;
}

.ac-game-menu-field-small a {
    position: relative;
    cursor: pointer
}

.ac-game-menu-field-small a span {
    position: relative;
    z-index: 1;
}

.ac-game-menu-field-small a:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 20%;
    border-radius: 0 100% 100% 0;
    background-color: #B0BEC5;
    left: -30%;
    top: 40%;
    z-index: 0;
    opacity: 0;
    box-shadow: 1px 0 8px 7px #B0BEC5;
    transition: opacity .3s, left .3s;
}

.ac-game-menu a:hover {
    padding: 5px 20px 5px 40px;
}

.ac-game-menu a:hover:after {
    left: 0;
    opacity: .5;
}

.profile {
    position: fixed;
    right: 30px;
    top: 30px;
    display: flex;
}

.profile a {
    box-shadow: 0 0 0px 0px rgba(255, 255, 255, 0);
    transition: box-shadow .3s;
}

.profile a:hover {
    box-shadow: 0 0 5px 2px white;
}

.profile-add {
    color: white;
    text-decoration: none;
    background-color: #1E88E5;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-right: 10px;
}

.profile-user {
    display: flex;
    height: 50px;
    align-items: center;
    border-left: 5px solid #CDDC39;
    background-color: #0d47a1c4;
    width: 300px;
    text-decoration: none;
}

.profile-user img {
    height: 100%;
}

.profile-user p {
    color: #97dfff;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 10px;
    font-size: 20px;
}

.profile-user p span {

}


.ac-game-playground {
    width: 100%;
    height: 100%;
    user-select: none;
    background-color: grey;
}

.ac-game-playground > canvas {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ac-game-chat-field-history {
    position: absolute;
    top: 66%;
    left: 20%;

    transform: translate(-50%, -50%);

    width: 20%;
    height: 32%;

    color: white;
    font-size: 2vh;

    padding: 5px;
    overflow: auto;
}

.ac-game-chat-field-history::-webkit-scrollbar {
    width: 0;
}

.ac-game-chat-field-input {
    position: absolute;
    top: 86%;
    left: 20%;
    transform: translate(-50%, -50%);

    width: 20%;
    height: 3vh;

    color: white;
    font-size: 2vh;

    background-color: rgba(222,225,230, 0.2);
}

