html, .main-menu, .root, .home-page {
    height: 100%;
}

.main-menu {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #3F51B5;
    background-position: center;
    background-size: cover;
    background-image: url("/static/image/menu/background.png");
    user-select: none;
}

.root {
    display: flex;
    flex-direction: column;
    position: relative;
}

.home-page {
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    width: 400px;
    box-shadow: inset 100px 0 107px -63px black;
}
.logo {
    display: flex;
    padding: 30px;
}

.logo img {
    width: 100%
}

.ac-game-menu {
    display: flex;
    flex-direction: column;
}
.ac-game-menu-field {
    display: flex;
    flex-direction: column;
}

.ac-game-menu-field-small {
    display: flex;
    flex-direction: column;
}

.ac-game-menu a {
    padding: 5px 30px;
    color: white;
    text-decoration: none;
    transition: padding .3s;
    color: white;
    text-transform: uppercase;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.ac-game-menu-field a {
    font-style: italic;
    font-size: 48px;
    position: relative;
    cursor: pointer;
}

.ac-game-menu-field a span {
    position: relative;
    z-index: 1;
}

.ac-game-menu-field a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 20%;
    border-radius: 0 100% 100% 0;
    background-color: #B0BEC5;
    left: -30%;
    top: 40%;
    z-index: 0;
    opacity: 0;
    box-shadow: 1px 0 8px 7px #B0BEC5;
    transition: opacity .3s, left .3s;
}

.ac-game-menu-field-small a {

}

.ac-game-menu a:hover {
    padding: 5px 20px 5px 40px;
}

.ac-game-menu a:hover:after {
    left: 0;
    opacity: .5;
}

.ac-game-playground {
    width: 100%;
    height: 100%;
    user-select: none;
}
